.profile__edit-button {
    background-image: url(../../../images/edit-button.svg);
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 0;
    outline: 0;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
    }
}
