.page {
    padding-top: 45px;
    min-width: 320px;
    min-height: 100vh;
    padding-bottom: 60px;
    background: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
}

@media screen and (max-width: 1018px) {
    .page {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 28px;
        padding-bottom: 36px;
    }
}

