.profile {
    display: flex;
    align-items: center;
    margin: 40px auto 51px auto;
    min-width: 282px;
}

@media screen and (max-width: 680px) {
    .profile {
        flex-direction: column;
        margin: 40px 19px 0 19px;
    }
}