.popup__submit-button {
    height: 50.15px;
    width: 100%;
    border: 0;
    outline: 0;
    margin-top: 48px;
    background: #000000;
    border-radius: 2px;
    transition: opacity 150ms;
    cursor: pointer;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 920px) {
    .popup__submit-button {
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px; 
    }
}

.popup__submit-button:hover {
    opacity: 0.8;
}
