.popup__submit-button {
    height: 50.15px;
    width: 100%;
    border: 0;
    outline: 0;
    margin-top: 48px;
    background: #000000;
    border-radius: 2px;
}

@media screen and (max-width: 920px) {
    .popup__submit-button {
        margin-top: 45px;
    }
}