.profile__role {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width: 680px) {
    .profile__role {
        font-size: 14px;
        line-height: 17px;
    }
}