.elements__element {
    width: 282px;
    position: relative;
    background-color: #FFFFFF;
    z-index: 0;
    border-radius: 10px;
}

.elements__element:nth-child(odd) {
    justify-self: flex-end;
}

@media screen and (max-width: 581px) {
    .elements__element, .elements__element:nth-child(odd) {
        justify-self: center;
    }
}