.profile__add-button {
    background-image: url(../../../images/img-plus.svg);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px white solid;
    outline: 0;
    box-sizing: border-box;
    margin-top: 33px;
    cursor: pointer;
    transition: opacity 150ms;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 680px) {
    .profile__add-button {
        min-width: 282px;
        background-size: 16px 16px;
    }
}