.elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 18px;
    justify-content: center;
    margin: 75px auto 66px auto;
    max-width: 882px;
}

@media screen and (max-width: 1024px) {
    .elements {
      margin: 36px 19px 48px 19px;
    }
}