.elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 18px;
    margin: 0 auto 66px auto;
    max-width: 882px;
}

@media screen and (max-width: 1018px) {
    .elements {
      margin: 36px auto 48px auto;
    }
}