.elements__trash {
    background-image: url(../../../images/element-trash.svg);
    position: absolute;
    height: 18px;
    width: 19.3px;
    top: 15px;
    right: 18px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: opacity 150ms;
    border-radius: 2px;
}

.elements__trash:hover {
    opacity: 0.6;
}