.elements__text {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px; 
    color: #000000;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 195px;
    overflow-x: hidden;
}