@import "../vendor/normalize.css";
@import "../vendor/fonts/InterWeb/inter.css";

@import "../blocks/page/page.css";
@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";

@import "../blocks/profile/profile.css";
@import "../blocks/profile/__container/profile__container.css";
@import "../blocks/profile/__avatar/profile__avatar.css";
@import "../blocks/profile/__avatar-overlay/profile__avatar-overlay.css";
@import "../blocks/profile/__avatar-image/profile__avatar-image.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__add-button/profile__add-button.css";
@import "../blocks/profile/__edit-button/profile__edit-button.css";
@import "../blocks/profile/__information/profile__information.css";
@import "../blocks/profile/__name/profile__name.css";
@import "../blocks/profile/__role/profile__role.css";

@import "../blocks/elements/elements.css";
@import "../blocks/elements/__element/elements__element.css";
@import "../blocks/elements/__photo-element/elements__photo-element.css";
@import "../blocks/elements/__text/elements__text.css";
@import "../blocks/elements/__group/elements__group.css";
@import "../blocks/elements/__like-group/elements__like-group.css";
@import "../blocks/elements/__like/elements__like.css";
@import "../blocks/elements/__like-text/elements__like-text.css";
@import "../blocks/elements/__like/_active/elements__like_active.css";
@import "../blocks/elements/__trash/elements__trash.css";
@import "../blocks/elements/__trash/_visible/elements__trash_visible.css";

@import "../blocks/footer/footer.css";

@import "../blocks/popup/popup.css";
@import "../blocks/popup/_opened/popup_opened.css";
@import "../blocks/popup/_preview/popup_preview.css";

@import "../blocks/popup/__container/popup__container.css";
@import "../blocks/popup/__container/_elements/popup__container_elements.css";

@import "../blocks/popup/__container-preview/popup__container-preview.css";

@import "../blocks/popup/__close-icon/popup__close-icon.css";
@import "../blocks/popup/__close-icon/_elements/popup__close-icon_elements.css";

@import "../blocks/popup/__name/popup__name.css";
@import "../blocks/popup/__name/_elements/popup__name_elements.css";
@import "../blocks/popup/__name/_delete-card/popup__name_delete-card.css";

@import "../blocks/popup/__field/popup__field.css";
@import "../blocks/popup/__field/_elements/popup__field_elements.css";
@import "../blocks/popup/__field/_error/popup__field_error.css";

@import "../blocks/popup/__field-error/popup__field-error.css";

@import "../blocks/popup/__submit-button/popup__submit-button.css";
@import "../blocks/popup/__submit-button/_elements/popup__submit-button_elements.css";
@import "../blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css";
@import "../blocks/popup/__submit-button/_refresh-avatar/popup__submit-button_refresh-avatar.css";

@import "../blocks/popup/__photo/popup__photo.css";

@import "../blocks/popup/__photo-name/popup__photo-name.css";