.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin: 0;
    margin-right: 17px;
    min-width: 187px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 295px;
    overflow-x: hidden;
}

@media screen and (max-width: 680px) {
    .profile__name {
        font-size: 27px;
        margin-right: 8px;
    }
}