.elements__like {
    background-image: url(../../../images/element-like.svg);
    height: 18.13px;
    width: 20.76px;
    margin-top: 6px;
    margin-right: 7.24px;
    background-color: transparent;
    border: 0;
}