.popup__close-icon {
    background-image: url(../../../images/close-icon.svg);
    background-position: center;
    width: 40.7px;
    height: 40.7px;
    position: absolute;
    right: -40.7px;
    top: -40.7px;
    transition: opacity 150ms;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
}

@media screen and (max-width: 920px) {
    .popup__close-icon {
        width: 26px;
        height: 26px;
        right: 8px;
    }
}

.popup__close-icon:hover {
    opacity: 0.6;
}