.popup__submit-button-name {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 920px) {
    .popup__submit-button-name {
        font-size: 14px;
        line-height: 17px;   
    }
}

