@import "../vendor/normalize.css";
@import "../vendor/fonts/InterWeb/inter.css";

@import "../blocks/page/page.css";
@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";

@import "../blocks/profile/profile.css";
@import "../blocks/profile/__avatar/profile__avatar.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__add-button/profile__add-button.css";
@import "../blocks/profile/__edit-button/profile__edit-button.css";
@import "../blocks/profile/__information/profile__information.css";
@import "../blocks/profile/__name/profile__name.css";
@import "../blocks/profile/__role/profile__role.css";

@import "../blocks/elements/elements.css";
@import "../blocks/elements/__element/elements__element.css";
@import "../blocks/elements/__photo-element/elements__photo-element.css";


