@import "../vendor/normalize.css";
@import "../vendor/fonts/InterWeb/inter.css";

@import "../blocks/page/page.css";
@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";

@import "../blocks/profile/profile.css";
@import "../blocks/profile/__container/profile__container.css";
@import "../blocks/profile/__avatar/profile__avatar.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__add-button/profile__add-button.css";
@import "../blocks/profile/__edit-button/profile__edit-button.css";
@import "../blocks/profile/__information/profile__information.css";
@import "../blocks/profile/__name/profile__name.css";
@import "../blocks/profile/__role/profile__role.css";

@import "../blocks/elements/elements.css";
@import "../blocks/elements/__element/elements__element.css";
@import "../blocks/elements/__photo-element/elements__photo-element.css";
@import "../blocks/elements/__text/elements__text.css";
@import "../blocks/elements/__group/elements__group.css";
@import "../blocks/elements/__like/elements__like.css";

@import "../blocks/footer/footer.css";

@import "../blocks/popup/popup.css";
@import "../blocks/popup/_opened/popup_opened.css";
@import "../blocks/popup/__container/popup__container.css";
@import "../blocks/popup/__close-icon/popup__close-icon.css";
@import "../blocks/popup/__name/popup__name.css";
@import "../blocks/popup/__field1/popup__field1.css";
@import "../blocks/popup/__field2/popup__field2.css";
@import "../blocks/popup/__submit-button/popup__submit-button.css";
@import "../blocks/popup/__submit-button-name/popup__submit-button-name.css";




