.profile__info {
    display: flex;
    flex-direction: column;
    max-width: 336px;
    height: 77px;
    color: #FFFFFF;
}

@media screen and (max-width: 680px) {
    .profile__info {
        align-items: center;
        min-width: 280px;
        margin-top: 26px;
        height: initial;
    }
}



