.popup__field-job {
    display: block;
    padding: 0;
    padding-top: 29.74px;
    padding-bottom: 13.34px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    height: 14px;
    outline: 0;
    width: 100%;
}

@media screen and (max-width: 920px) {
    .popup__field-job {
        padding-bottom: 13px;
    }
}