.footer {
    color: #545454;
    margin: auto;
    min-height: 14px;
    min-width: 320px;
    max-width: 882px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 1018px) {
    .footer {
        margin: 0 19px 0px 19px;
    }
}


