.popup__field {
    display: block;
    padding: 0;
    padding-bottom: 13.26px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    height: 14px;
    outline: 0;
    width: 100%;
    
}

.popup__field-error + .popup__field {
    padding-top: 29.74px;
}

@media screen and (max-width: 920px) {
    .popup__field {
        padding-bottom: 13px;
    }
}

::placeholder {
    color: #C4C4C4;
  }

